/* .contents__head tr th{
   font-weight: 500;
   font-size: 18px;
   color: #1eb8db;
}

 .contents__tr td a{

    color: #000;
    font-weight: 500;
    text-decoration: underline;
    font-size: 18px;
 }
 .contents__tr th{
   display: grid;
   place-items: center;
 }
 .contents__tr td{
   padding: 6px;
 }
 .loading__class{
    width: 100%;
    display: grid;
    place-items: center;
 }
 .table__border{
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border: 1px solid #999;
 }
 .contents__tr th a{
    color: #000;
 }
 .contents__tr th{
   padding: 6px;
 }
.spec__text{
    margin-left: -20%;
}
.hero-section-link{
    text-decoration: none !important;
    color: #666;
}
.prev-data{
   background-color: rgb(233, 191, 191);
   color: red;
   padding: 4px;
   font-size: 14px;
   border-radius: 12px;
}
.new-data{
   background: lightgreen;
   padding: 4px;
   font-size: 14px;
   color: green;
   border-radius: 12px;
}
.click__text{
   font-size: 12px !important;
   text-decoration: underline;
} */

.grid__container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 3px;
   padding: 10px;
 }
 
 /* .mobile__card {
   max-width : 300px;
   height: 20rem;
   background: #fff;
   border: 1px solid #e1e1e1;
   border-radius: 10px;
   overflow: hidden;
   transition: transform 0.3s ease;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 } */

 
 .mobile__image {
   display: flex;
   height: 110px;
   /* object-fit: contain; */
   justify-content: center;
   align-items: center;
   overflow: hidden;
   padding: 5px;
   background: #f7f7f7;
 }
 
 .mobile__info {
   z-index: 1;
   background-color: #f7f7f7;
   overflow: auto;
   padding: 10px;
   text-align: center;
 }
 
 .mobile__info h3 {
   font-size: small;
   /* margin-bottom: 10px; */
   color: #333;
 }
 
 .price__list {
   display: flex;
   flex-direction: column;
   gap: 3px;
 }
 
 .price__box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #f9f9f9;
   padding: 5px;
   border-radius: 5px;
 }
 
 .website__name {
   font-weight: bold;
   color: #555;
 }
 
 .price__link {
   color: #007bff;
   text-decoration: none;
   font-weight: bold;
 }
 
 .price__link:hover {
   text-decoration: underline;
 }
 
 .price__text {
   color: #888;
 }
 