.advance__search__slider__div >div .rc-slider-handle{
    width: 26px;
    height: 26px;
    margin-top: -10px;
    background-color: #d63563;
    opacity: 1;
    border:2px solid #ddd;
  }
  .advance__search__slider__div >div .rc-slider-handle:active{
    width: 26px;
    height: 26px;
    margin-top: -10px;
    background-color: #d63563;
    box-shadow: none;
    border-color: #ddd;
    opacity: 1;
  }

  .advance__search__slider__div >div .slider__inputs{
    padding-left: 0px;
  }
  .advance__search__slider__div >div .slider__input{
    padding-right: 0px;
  
  }
  .advance__search__slider__div >div .rc-slider{
    width: 100%;
  }
  .form-control:focus{
    box-shadow: none;
    border-color: #222;
  }
  .form-control{
    border-color: #777;
  }
  .advance__btn button{
    background-color: #e0134e;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px; 
  }
  .advance__btn button:hover{
    background-color: #fff;
    color: #e0134e;
    border: 1px solid #e0134e;
    /* font-weight: 600; */
    /* border-radius: 8px; */
    /* padding: 10px;  */
  }
  .advance__search__slider__div >div .rc-slider-track {
      height: 10px;
      background-color: #f30b4d; /* Change to your desired color */
    }
    
    /* Change the color of the slider rail (full range background) */
    .advance__search__slider__div >div  .rc-slider-rail {
      height: 10px;
      /* background-color: #fff !important; Change to your desired color */
    }
.advance__search__slider__div > div > div > p{
    font-weight: 600;
    font-size: 18px;
    /* color: #e0134e;  */
}
.advance__search__slider__div > div label{
    font-size: 20px;
    font-weight: 500;
    color: #d63563;
}
form >div h5{
    font-weight: 600;
    font-size: 20px;
    color: #e0134e; 
}