.scrollbar-none {
    overflow-x: auto;
    scrollbar-width: 1px; /* Firefox */
  }
  
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
  .brands__div ul li{
      background-color: #e0134e;
      color: #fff;
  }
  .clear__filter{
    color: #1eb8db;
    cursor: pointer;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #1eb8db;  
  }
  .brands__divs ul li{
    background-color: #1eb8db;
    color: #fff;
}
 .differ__heading__text{
    color: #fff;
    background-color: #1eb8db;
  }
  .select-inputs{
    background-color: #1eb8db;
    color: #fff;
    border-radius: 20px;
    /* width: m; */
    /* width: 100%; */
    min-width: 170px;
    padding: 6px;
    cursor: pointer;
  }
  .main-search{
    background-color: #1eb8db;
    color: #fff;
    
  }
  .display__brands{
    position: absolute;
    width: 300%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    top: 100%;
    padding: 20px;
    z-index: 10;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px 0px;
    background-color: #fff;
  }
  .display__brand{
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    top: 100%;
    padding: 20px;
    z-index: 10;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px 0px;
    background-color: #fff;
    
  }
  .display__storage{
    position: absolute;
    width: 150%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 10px;
    top: 100%;
    padding: 20px;
    z-index: 10;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px 0px;
    background-color: #fff;
    
  }
  .brands__divs >div .display__ram{
    position: absolute;
    width: 100%;
    z-index: 10;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px 0px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    top: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    
  }
  .display__camera{
    position: absolute;
    width: 100%;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px 0px;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    gap: 10px;
    top: 100%;
    z-index: 10;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
  }
  .display__date{
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px 0px;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    gap: 10px;
    top: 100%;
    z-index: 10;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
  }
  .cam__btn{
    background-color: #1eb8db;
    color: #fff;
    padding: 10px;
    border-radius: 12px;
  }
  .display__ram{
    position: absolute;
    width: 200%;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px 0px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
    top: 100%;
    z-index: 10;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
  }
  .main__search__div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
  }
  .brand__lists{
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  .brand__lists > div{
    background: #1eb8db;
    padding: 6px;
    border-radius: 50%;
  }
  .brand__lists > div > div{
    background: #fff;
    padding: 3px;
    border-radius: 50%;
  }
  .brands__div .select-inputs:focus{
    background: #1eb8db;
    color: #fff;
    box-shadow: none;
    border-color: #1eb8db;
  }